<!DOCTYPE html>
<html>
  <head>
    <!--define character set -->
    <meta charset="utf-8" />
    <!-- take up entire screen, -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- link to content delivery network -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <!-- defining block in base template that
     can be overwritten in a child template, child templates
    can inherit from this base template-->
    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    <!-- define navbar, bootstrap classes, color -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <!-- buttons for navbar, allow to expand -->
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <!-- loads an icon, inside button tag -->
        <span class="navbar-toggler-icon"></span>
      </button>
      <!--collapsable nav bar  -->
      <div class="collapse navbar-collapse" id="navbar">
        <!-- actual navigation items -->
        <div class="navbar-nav">
          <!-- only show certain nav bar items if user is logout vs logged in -->
          {% if user.is_authenticated %}
          <a class="nav-item nav-link" id="home" href="/">Home</a>
          <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
          {% else %}
          <a class="nav-item nav-link" id="login" href="/login">Login</a>
          <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>
          {% endif %}
        </div>
      </div>
    </nav>
    <!-- show messages from auth.py- defines variable message 
    function from flask flash messaages with category -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      <!-- check if messages contains something -->
      {% if messages %}
        {% for category, message in messages %}
          {% if category == 'error' %}
            <!-- allows to dissmiss an alert shown by default-->
            <div class="alert alert-danger alter-dismissable fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert">
                <!-- shows a fancy x in the button -->
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% else %}
            <div class="alert alert-success alter-dismissable fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert">
                <!-- shows a fancy x in the button -->
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    {%  endwith %}

    <!-- for content to go on screen padding between edge of screen -->
    <div class = "container">
    <!-- anything within these blocks will show up on screen-->
    {% block content %}
    {% endblock %}
    </div>
    <!-- load javascripts related to the css framwork, bootstrap
        load at the bottom of body text -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    
    <!-- must be added to use javascript file -->
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js') }}"
    ></script>
  </body>
</html>